<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miproducts.miwatch" >
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Calendar permission used by CalendarWatchFaceService -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Internet Permissions -->
    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <!-- Watch Face Service -->
        <service
            android:name="com.miproducts.miwatch.MiDigitalWatchFace"
            android:label="@string/my_digital_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_digital" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_digital_circular" />

            <!-- companion configuration activity -->
            <meta-data
                android:name=
                    "com.google.android.wearable.watchface.companionConfigurationAction"
                android:value=
                    "com.miproducts.miwatch.CONFIG_DIGITAL" />

            <!-- Watch configuration activity-->
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="com.example.android.wearable.watchface.CONFIG_DIGITAL" />

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>

            <!-- Listen for broadcast from ConfigListener, when it gets back data from companionListener-->
            <intent-filter>
                <action android:name="com.miproducts.miwatch.DEGREE" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".receivers.AlarmReceiver">
            <intent-filter>
                <action android:name="com.miproducts.miwatch"></action>
            </intent-filter>
        </receiver>

        <service android:name=".MiDigitalWatchFaceConfigListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <!-- All intent-filters for config actions must include the categories
                    com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION
                    and android.intent.category.DEFAULT. -->
        <activity
            android:name=".config.MiDigitalWatchFaceConfiguration"
            android:label="MiDigitalWatchFace Configuration">
            <intent-filter>
                <action android:name=
                    "com.example.android.wearable.watchface.CONFIG_DIGITAL" />
                <category android:name=
                    "com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>
